# 4. Outras Medidas
<hr></hr>

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import variation
from statistics import variance
from scipy.stats import skew
from scipy.stats import kurtosis

In [3]:
dados = pd.read_excel('tabela_2_1.xlsx')
dados

,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,casado,ensino fundamental,1.0,4.56,32,10,capital
2,casado,ensino fundamental,2.0,5.25,36,5,capital
3,solteiro,ensino médio,NaN,5.73,20,10,outra
4,solteiro,ensino fundamental,NaN,6.26,40,7,outra
5,casado,ensino fundamental,0.0,6.66,28,0,interior
6,solteiro,ensino fundamental,NaN,6.86,41,0,interior
7,solteiro,ensino fundamental,NaN,7.39,43,4,capital
8,casado,ensino médio,1.0,7.59,34,10,capital
9,solteiro,ensino médio,NaN,7.44,23,6,outra
10,casado,ensino médio,2.0,8.12,33,6,interior
11,solteiro,ensino fundamental,NaN,8.46,27,11,capital
12,solteiro,ensino médio,NaN,8.74,37,5,outra
13,casado,ensino fundamental,3.0,8.95,44,2,outra
14,casado,ensino médio,0.0,9.13,30,5,interior
15,solteiro,ensino médio,NaN,9.35,38,8,outra
16,casado,ensino médio,1.0,9.77,31,7,capital
17,casado,ensino fundamental,2.0,9.80,39,7,outra
18,solteiro,superior,NaN,10.53,25,8,interior
19,solteiro,ensino médio,NaN,10.76,37,4,interior
20,casado,ensino médio,1.0,11.06,30,9,outra
21,solteiro,ensino médio,NaN,11.59,34,2,capital
22,solteiro,ensino fundamental,NaN,12.00,41,0,outra
23,casado,superior,0.0,12.79,26,1,outra
24,casado,ensino médio,2.0,13.23,32,5,interior
25,casado,ensino médio,2.0,13.60,35,0,outra
26,solteiro,ensino fundamental,NaN,13.85,46,7,outra
27,casado,ensino médio,0.0,14.69,29,8,interior
28,casado,ensino médio,5.0,14.71,40,6,interior
29,casado,ensino médio,2.0,15.99,35,10,capital
30,solteiro,superior,NaN,16.22,31,5,outra
31,casado,ensino médio,1.0,16.61,36,4,interior
32,casado,superior,3.0,17.26,43,7,capital
33,solteiro,superior,NaN,18.75,33,7,capital
34,casado,ensino médio,2.0,19.40,48,11,capital
35,casado,superior,3.0,23.30,42,2,interior

In [4]:
dados.columns

Index(['Estado Civil', 'Grau de Instrução', 'N de Filhos',
       'Salario (x Sal Min)', 'Anos', 'Meses', 'Região de Procedência'],
      dtype='object')

In [5]:
# Renomeando as colunas

novos_nomes_colunas = {'Estado Civil':'estado_civil','Grau de Instrução':'escolaridade','N de Filhos':'qtd_filhos',
                      'Salario (x Sal Min)':'salario','Anos':'idade_anos','Meses':'idade_meses',
                       'Região de Procedência':'regiao'}

dados.rename(columns=novos_nomes_colunas, inplace = True)
dados

,estado_civil,escolaridade,qtd_filhos,salario,idade_anos,idade_meses,regiao
0,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,casado,ensino fundamental,1.0,4.56,32,10,capital
2,casado,ensino fundamental,2.0,5.25,36,5,capital
3,solteiro,ensino médio,NaN,5.73,20,10,outra
4,solteiro,ensino fundamental,NaN,6.26,40,7,outra
5,casado,ensino fundamental,0.0,6.66,28,0,interior
6,solteiro,ensino fundamental,NaN,6.86,41,0,interior
7,solteiro,ensino fundamental,NaN,7.39,43,4,capital
8,casado,ensino médio,1.0,7.59,34,10,capital
9,solteiro,ensino médio,NaN,7.44,23,6,outra
10,casado,ensino médio,2.0,8.12,33,6,interior
11,solteiro,ensino fundamental,NaN,8.46,27,11,capital
12,solteiro,ensino médio,NaN,8.74,37,5,outra
13,casado,ensino fundamental,3.0,8.95,44,2,outra
14,casado,ensino médio,0.0,9.13,30,5,interior
15,solteiro,ensino médio,NaN,9.35,38,8,outra
16,casado,ensino médio,1.0,9.77,31,7,capital
17,casado,ensino fundamental,2.0,9.80,39,7,outra
18,solteiro,superior,NaN,10.53,25,8,interior
19,solteiro,ensino médio,NaN,10.76,37,4,interior
20,casado,ensino médio,1.0,11.06,30,9,outra
21,solteiro,ensino médio,NaN,11.59,34,2,capital
22,solteiro,ensino fundamental,NaN,12.00,41,0,outra
23,casado,superior,0.0,12.79,26,1,outra
24,casado,ensino médio,2.0,13.23,32,5,interior
25,casado,ensino médio,2.0,13.60,35,0,outra
26,solteiro,ensino fundamental,NaN,13.85,46,7,outra
27,casado,ensino médio,0.0,14.69,29,8,interior
28,casado,ensino médio,5.0,14.71,40,6,interior
29,casado,ensino médio,2.0,15.99,35,10,capital
30,solteiro,superior,NaN,16.22,31,5,outra
31,casado,ensino médio,1.0,16.61,36,4,interior
32,casado,superior,3.0,17.26,43,7,capital
33,solteiro,superior,NaN,18.75,33,7,capital
34,casado,ensino médio,2.0,19.40,48,11,capital
35,casado,superior,3.0,23.30,42,2,interior

In [6]:
dados.columns

Index(['estado_civil', 'escolaridade', 'qtd_filhos', 'salario', 'idade_anos',
       'idade_meses', 'regiao'],
      dtype='object')

## Medidas de Posição Relativa

- Percentis, Quartis, Decis e Escore Z

In [7]:
# Escore Z

stats.zscore(dados['salario'])

0    -1.574565
1    -1.450762
2    -1.298218
3    -1.192101
4    -1.074929
5    -0.986498
6    -0.942283
7    -0.825112
8    -0.780896
9    -0.814058
10   -0.663725
11   -0.588558
12   -0.526656
13   -0.480230
14   -0.440436
15   -0.391799
16   -0.298946
17   -0.292314
18   -0.130927
19   -0.080079
20   -0.013756
21    0.103415
22    0.194057
23    0.368709
24    0.465983
25    0.547782
26    0.603051
27    0.788757
28    0.793178
29    1.076158
30    1.127006
31    1.213226
32    1.356927
33    1.686332
34    1.830033
35    2.692237
Name: salario, dtype: float64

In [8]:
# Percentis ou Centis

dados['salario'].quantile([i/100 for i in range(1,99)])

0.01     4.1960
0.02     4.3920
0.03     4.5945
0.04     4.8360
0.05     5.0775
         ...
0.94    18.6010
0.95    18.9125
0.96    19.1400
0.97    19.3675
0.98    20.5700
Name: salario, Length: 98, dtype: float64

In [9]:
# Decis

dados['salario'].quantile([i/10 for i in range(1,10)])

0.1     5.995
0.2     7.390
0.3     8.290
0.4     9.130
0.5    10.165
0.6    11.590
0.7    13.415
0.8    14.710
0.9    16.935
Name: salario, dtype: float64

In [10]:
# Quartis

dados['salario'].quantile([0.25,0.50,0.75])

0.25     7.5525
0.50    10.1650
0.75    14.0600
Name: salario, dtype: float64

## Amplitude

In [11]:
amplitude = max(dados['idade_anos']) - min(dados['idade_anos'])
print(f'amplitude da variável idade em anos: {amplitude} ')

amplitude da variável idade em anos: 28

## Intervalo Interquartil

In [12]:
# Interquartile range (IQR)
IQR = stats.iqr(dados['salario'], interpolation = 'midpoint')
print(f'Intervalo Interquartil da variável salário: {IQR}')


# ou

Q3 = dados['salario'].quantile([0.75])
Q1 = dados['salario'].quantile([0.25])

print(f'Intervalo Interquartil da variável salário: {float(Q3.values) - float(Q1.values)}')

Intervalo Interquartil da variável salário: 6.754999999999999
Intervalo Interquartil da variável salário: 6.5074999999999985

## Coeficiente de Variação

In [13]:
print(variation(dados['salario'])*100)

print(np.std(dados['salario']) / np.mean(dados['salario'])*100)

40.668977913210774
40.66897791321076

## Medidas de Assimetria e Curtose

In [14]:
# Assimetria

print(skew(dados['salario']))

#Curtose

print(kurtosis(dados['salario']))

0.625681950090819
-0.17432467861478695

## Referências:

BUSSAB, Wilton de O.; MORETTIN, Pedro A. Estatística Básica. 5ª edição. São Paulo: Editora Saraiva. 2004.